@{
    ViewData["Title"] = "Home Page";
}


<head>
    <title>@ViewData["Title"]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: #5C8374;>

    <div class="container" >
        <div class="text-center mb-5">
            <h1 class="display-4">Tienda Celina</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="carousel-container">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="https://portal.ejes.com/img/noticias/2022/06/tv.jpg" class="d-block" style="max-width: 400px; height: auto;" alt="Imagen 1">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="https://www.lg.com/mx/images/heros/obs/features/selector/selector%20soundB%20800x530.jpg" class="d-block" style="max-width: 400px; height: auto;" alt="Imagen 2">
                            </div>
                        </div>
                            <!-- Agrega más imágenes al carrusel según sea necesario -->
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br />
       

        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <div class="card" style="background-color: #93B1A6;">
                    <div class="card-body" style="margin: 20px;">
                        <!-- Ajuste del margen -->
                        <h2 class="card-title">Sobre Nosotros</h2>
                    <p class="card-text">
                        En nuestra tienda, nos apasiona ofrecer la mejor experiencia en tecnología audiovisual. Fundada en el año 20XX por John Doe y Jane Smith, nuestra misión desde el principio ha sido proporcionar a nuestros clientes productos de alta calidad y un servicio excepcional.
                    </p>
                    <p class="card-text">
                        Nos enorgullecemos de nuestra selección cuidadosamente curada de televisores de última generación, desde pantallas ultra HD hasta tecnología de vanguardia en imagen y sonido. Trabajamos con las marcas líderes en la industria para asegurarnos de que cada producto que ofrecemos cumpla con los más altos estándares de calidad y rendimiento.
                    </p>
                    <p class="card-text">
                        Nuestro equipo está comprometido en proporcionar asesoramiento experto y atención personalizada a cada cliente que visita nuestra tienda. Nos esforzamos por entender las necesidades individuales de cada persona para ayudarles a encontrar el televisor perfecto que se adapte a sus preferencias y presupuesto.
                    </p>
                    <p class="card-text">
                        En Tienda Celina, creemos en construir relaciones sólidas con nuestros clientes, basadas en la confianza, la transparencia y el compromiso de superar expectativas. Ofrecemos garantía extendida en todos nuestros productos y soporte técnico especializado post-venta para asegurar una experiencia continua de calidad.
                    </p>
                    <p class="card-text">
                        ¡Gracias por ser parte de nuestra comunidad y confiar en nosotros para hacer de tu experiencia visual algo extraordinario!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>